@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Styling for custom scrollbar */
.modal-content::-webkit-scrollbar {
  width: 8px; /* Slim scrollbar width */
  height: 8px; /* Slim scrollbar for horizontal scrolling */
}

/* The handle (the draggable part) of the scrollbar */
.modal-content::-webkit-scrollbar-thumb {
  background-color: #fbbf24; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #fbbf24; /* Border to give a contrast */
}

/* The track (the part the thumb slides along) */
.modal-content::-webkit-scrollbar-track {
  background: #f3f4f6; /* Light background for the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Hide scrollbar arrows */
.modal-content::-webkit-scrollbar-button {
  display: none;
}




/* Container for animations */
.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pointer-events-none {
  pointer-events: none;
}

/* Car Animation */
.car-animation {
  animation: floatCar 8s infinite ease-in-out;
}

@keyframes floatCar {
  0%, 100% {
    transform: translateX(-100%) translateY(0);
  }
  50% {
    transform: translateX(100%) translateY(-20px);
  }
}

/* House Animation */
.house-animation {
  animation: floatHouse 6s infinite ease-in-out;
}

@keyframes floatHouse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Calendar Animation */
.calendar-animation {
  animation: floatCalendar 5s infinite ease-in-out;
}

@keyframes floatCalendar {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-20px) translateY(-20px);
  }
}

/* Workflow Lines Animation */
.workflow-line {
  stroke-dashoffset: 1000;
  animation: draw 10s infinite linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}